html{
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient( circle,  
  rgba(0, 212, 236, 0.699) 20%, rgba(0, 153, 170, 0.829) 90%, rgba(0, 130, 145, 0.925)); /* w3c */
  background-attachment: fixed;
}

button{
  cursor: pointer;
}
